.components.todo {
  text-align: left;
  left: 20px;
  position: relative;
  label, input[type=text] {
    display: inline-block;
    width: 74%;
    padding: 8px;
    font-size: 15px;
  }
  button {
    visibility: hidden;
    float: right;
    margin: 4px;
  }
  input[type=checkbox] {
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
  }
  input[type=text] {
    display: none;
    height: 13px;
    background: transparent;
  }
}
.components.todo.completed {
  label {
    text-decoration: line-through;
  }
}

.completed .components.todo.completed, .active .components.todo {
  display: block;
}
.completed .components.todo, .active .components.todo.completed {
  display: none;
}

.components.todo:hover {
  background-color: #ddd;
  button {
    visibility: visible;
  }
}

.components.todo.edit {
  input[type=text] {
    display: inline-block;
  }
  label {
    display: none;
  }
}

.interfaces.dragging {
  position: relative;
  opacity: 0.7;
  >div {
    border: 1px dotted #666;
  }
}

.components.todoAdd {
  width: 400px;
  margin: 0 auto;
  box-shadow: #969696 3px 3px 11px -2px;

  input {
    border: none;
    padding: 2%;
    font-size: 20px;
    width: 96%;
  }
}


.components.todoInfoBar {
  margin: 11px 0;
  padding: 11px 0;
  border: 1px dotted #aaa;

  span, button {
    display: inline-block; margin: 0 11px;
  }
  strong {
    margin-top: 15px;
    display: block;
    font-size: 10px;
    font-weight: normal;
  }
}


.components.todoList {
  list-style: none;
}

