.components.todo {
  text-align: left;
  left: 20px;
  position: relative; }
  .components.todo label, .components.todo input[type=text] {
    display: inline-block;
    width: 74%;
    padding: 8px;
    font-size: 15px; }
  .components.todo button {
    visibility: hidden;
    float: right;
    margin: 4px; }
  .components.todo input[type=checkbox] {
    width: 15px;
    height: 15px;
    vertical-align: text-bottom; }
  .components.todo input[type=text] {
    display: none;
    height: 13px;
    background: transparent; }

.components.todo.completed label {
  text-decoration: line-through; }

.completed .components.todo.completed, .active .components.todo {
  display: block; }

.completed .components.todo, .active .components.todo.completed {
  display: none; }

.components.todo:hover {
  background-color: #ddd; }
  .components.todo:hover button {
    visibility: visible; }

.components.todo.edit input[type=text] {
  display: inline-block; }
.components.todo.edit label {
  display: none; }

.interfaces.dragging {
  position: relative;
  opacity: 0.7; }
  .interfaces.dragging > div {
    border: 1px dotted #666; }

.components.todoAdd {
  width: 400px;
  margin: 0 auto;
  box-shadow: #969696 3px 3px 11px -2px; }
  .components.todoAdd input {
    border: none;
    padding: 2%;
    font-size: 20px;
    width: 96%; }

.components.todoInfoBar {
  margin: 11px 0;
  padding: 11px 0;
  border: 1px dotted #aaa; }
  .components.todoInfoBar span, .components.todoInfoBar button {
    display: inline-block;
    margin: 0 11px; }
  .components.todoInfoBar strong {
    margin-top: 15px;
    display: block;
    font-size: 10px;
    font-weight: normal; }

.components.todoList {
  list-style: none; }
